.mat-card-header {
    background-color: aqua;
    color: black;
}
.mat-card-footer {
    font-size: small;
    margin-bottom: 0px;
    text-indent: 15px;
    color: grey;
}
.mat-card-title {
    margin: 5px;
    text-align: justify;
    text-shadow: 50px;
}
.mat-card-content {
    color: black;
    text-indent: 20px;
    text-overflow:ellipsis;
    overflow: hidden;
    line-height: 1.5em;
    height: 6em;
    white-space: normal;
}
.mat-card {
    text-align: justify;
    background-color: rgb(178, 247, 247);
    width: 200px;
    max-height: 300px;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
Button {
    background-color: rgb(178, 247, 247);
    border: none;
    color: black;
    align-content: flex-end;
}

::ng-deep .mat-menu-content{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: rgb(103, 255, 255);
}

.mat-card-actions {
    text-align: end;
    margin: 0px;
    padding: 0px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-gap:0px;
  }

  .add-note-button {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .mat-raised-button {
      background-color: rgb(0, 102, 255);
  }
