.mat-form-field {
    width: 50%;
}

.label-text {
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form-div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}